.habitacion{
    padding-bottom: 10px;
    cursor: pointer;
    max-width: 110px;

}
.ha-father{
    color: #228B22;
    border: 2px solid #228B22;
    padding: 15px;
    border-radius: 10px;
}
.ha-negro{
    border:2px solid black;
    color: black;
}
.ha-red{
    border:2px solid red;
    color: red;
}
.ha-amarillo{
    border:2px solid yellow;
    color: yellow;
}
span{
    font-size: 0.25em;
    position: absolute;
    color: black;
   margin-top: -60%;
 margin-left: 8%;
}
tipo{
    font-size: 0.19em;
    padding-right: 25px;
    margin-top:-13px;
   margin-left: 15%;
    /*margin-top: 42px;*/
    color: black;
    position: absolute;
}
