body{
    background-image:url("../imagenes/fondo.png");
    background-repeat: no-repeat;
    margin: auto;
    height: auto;
    width: 100%;
}

.formulario{
    border:none;
    width: 40%;
    min-width: 60%;
    max-width: 500px;
    background: #7B80A1;
    margin-top: 3%;
    -webkit-box-shadow: 0px 0px 0px 15px rgba(85,90,123,1);
    -moz-box-shadow: 0px 0px 0px 15px rgba(85,90,123,1);
    box-shadow: 0px 0px 0px 15px rgba(85,90,123,1);
}
h1{
    text-align: center;
    text-decoration: none;
    background: #0084FF;
    width: 100%;
    font-weight: bold;
    font-size: 140%;
    height: 30px;
    margin-top: 0px;
    color: white;
    padding-top: 5px;


}
.logo1{
    width: 28%;
    display: inline-block;
    margin-left: 35%;
    margin-top: 5px;
    margin-bottom: 1px;
}
.input-group #group{

    padding: 10px;
    display:inline-block;
    width: 100%;
    border-radius: 5%;
    border: none;
    -webkit-appearance: none;
    margin-top: 20px;
    background-color:  transparent;

}
.form-control #control{
    font-family: "Open Sans", sans-serif;;
    outline: none;
    background: none;
    width: 100%;
    border: none;
    border-bottom:2px solid black;
    color: white;
    padding: 10px;
    background-color: transparent;
    margin-top: 4%;
font-size: 20px;

}

#boton{

    background:#00CED1;
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: none;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
    font-weight: bold;
    margin-top: 10%;

}
.input-group:focus{
    border:  blue;

}
#boton:hover {
    cursor: pointer;
    background:#8CF8F4;
}

.mansion{
    width: 20%;
    margin-top: 5%;
    margin-left: 38%;

}

@media only screen and (min-width : 150px) and (max-width : 768px){
    body{
        width: 100%;
        margin: auto;
        position: static;
        overflow-x: hidden;
        overflow-y: visible
    }
    .form-control{
        color: white;
        font-size: 20px;
    }
    h1 {
        text-align: center;
        text-decoration: none;
        margin:auto;
        width: 100%;
        font-size: 120%;
    }
    .login-box-body{
        width: 100%;
        margin: auto;
    }
    .formulario{
        margin-top: 10%;
        width: 100%;

    }

    .mansion{
        width: 40%;
        margin-top: 20%;
        margin-left: 15%;
        display: block;
    }
    #boton {
        margin-top: 20px;
        margin-bottom:20px;
        width: 50%;
    }
}
@media only screen and (min-width : 800px) and (max-width : 1024px){
    .col-login{
        margin-left: 36%;
    }

}