@media only screen and (min-width : 500px) and (max-width : 1024px){
#fecha-r{
    margin-top: -110%;
    margin-left: 2.6em;
}
    #fecha-r2{
        margin-left: 2.5em;
    }
    .fechas{
        width:10%;

    }
}
.back{
    display: inline-block;

}
.letra:hover, .fa-arrow-circle-left:hover{
    color:black;
}
.fa-arrow-circle-left{
    cursor: pointer;
    color: #8c8c8c;

}
.letra{
    font-size: 15px;
    color: #8c8c8c;
    display: inline-block;
    cursor: pointer;
    margin-top: -50px;
}
.Iwhite{
    color:#d1d4d7;
}
/*estilos tablas estadia*/
thead, tbody { display: block; }
.tbod {

    width: 100%;
    overflow-y:auto;
    overflow-x: auto;
}
.celda{
    width: 30%;
}
#th{
    width: 30%;
}
#uno{
    width: 20%;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}
/* ::-webkit-scrollbar-button {
     background-color: black;
 }*/


/*tabla clientes*/
thead, tbody { display: block; }
.tbod {
    height: 100px;
    width: 100%;
    overflow-y:auto;
    overflow-x: auto;
}
.tc{
    width: 42%;
}
#nuevo{
    width: 8%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}
/* ::-webkit-scrollbar-button {
     background-color: black;
 }*/

.card {
    min-height: 32em;
}

.oculta{
    display: none;
}
@media only screen and (min-width : 700px) and (max-width : 1024px){
#des{
    width: 50%;
}
    #aum{
        width: 50%;
    }
}
@media only screen and (max-width : 320px){
    #ocupante{
        width: 95%;
    }

}
@media only screen and (max-width : 320px) {

    #tabla_clientes {
        display: block;
        overflow-x: auto;
        overflow-y: auto;

    }

}
@media only screen and (min-width : 320px) and (max-width : 700px){
    #list_prod{
        display: block;
        overflow-x: auto;
        overflow-y: auto;
    }
}